.footnote {
    -fx-font-size: 0.7em;
    -fx-text-fill: #8a8e8f;
}

.console {
    -fx-font-size: 0.85em;
    -fx-text-fill: #333;
    -fx-font-family: monospace;
}

.label_main {
    -fx-font-size: 1.15em;
    -fx-font-weight: bold;
}

.label_prominent {
    -fx-font-size: 1.15em;
    -fx-font-weight: bold;
}

.button-convert {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.button-sec {
    -fx-font-size: 0.8em;
    -fx-padding: 0.3em;
}